@import "style/theme";
@import "style/text";
@import "style/mixin";

@media screen
{
    @import "style/block";

    *
    {
        box-sizing: border-box;

        transition-duration: 0.15s;
    }
}


@media print
{
    @import "style/block-print";

    footer
    {
        display: none;
    }
}
