@import "~@res/base.scss";

.autocomplete
{
    font: $font-body;

    border-radius: 4pt;

    .acrylic
    {
        border-radius: 4pt;
    }

    .autocomplete-input
    {
        font-size: 20pt;

        box-sizing: border-box;
        width: 100%;
        height: 2.5em;

        text-align: center;

        border: none;
        border-bottom: 1px solid grey;
        border-radius: 4pt;
        outline: none;
        background: transparent linear-gradient(to top, hsla(0, 0%, 93%, 0.8), hsla(0, 0%, 100%, 0.8));
    }

    .autocomplete-suggestions-container
    {
        position: relative;

        margin-top: 4pt;
    }

    .autocomplete-suggestions
    {
        overflow: auto;

        width: 100%;
        max-height: 0;
        margin: 0;
        padding: 0;

        transition-duration: 0.15s;

        border-radius: 4pt;
        background: $bg-light-textured;

        &.focused
        {
            overflow: auto;

            max-height: 30em;
        }

        .autocomplete-item
        {
            font-size: 1.25rem;

            display: flex;
            align-content: center;

            padding: 0.75em;

            cursor: pointer;
            transition-duration: 0.15s;
            transition-property: background-color;
            text-align: left;

            .autocomplete-item-label
            {
                font: $font-decor;
            }

            .autocomplete-item-desc
            {
                font-size: 0.7em;

                flex-grow: 1;

                margin: 0.5em;

                opacity: 0.7;
            }

            .autocomplete-item-action
            {
                margin: -0.75em -0.75em -0.75em 0;

                text-align: right;
            }

            &:hover
            {
                outline: none;
                background-color: transparentize(white, 0.5);
            }

            &:active, &:focus
            {
                outline: none;
                background-color: transparentize(white, 0.25);
            }
        }
    }

    .vb
    {
        .vb-dragger
        {
            z-index: 5;
            right: 0;

            width: 12px;

            .vb-dragger-styler
            {
                display: block;

                height: calc(100% - 10px);
                margin: 5px 5px 5px 0;

                transition-duration: 0.15s;
                transition-property: background-color;

                border-radius: 20px;
                background-color: rgba(0, 0, 0, 0.1);

                mix-blend-mode: exclusion;
            }
        }

        &.vb-scrolling-phantom, &.vb-dragging
        {
            .vb-dragger-styler
            {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
