
.autocomplete
{
    border-radius: 4pt;
    font-family: Roboto, sans-serif;

    .autocomplete-input
    {
        font-size: 20pt;
        height: 2.5em;
        outline: none;
        text-align: center;
        width: 100%;
        border: 1px solid grey;
        box-shadow: 0 0 5pt 0 rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
    }

    .autocomplete-suggestions-container
    {
        margin-top: 4pt;
        position: relative;
    }

    .autocomplete-suggestions
    {
        background-color: transparentize(white, 0.5);
        border-radius: 4pt;
        margin: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        transition-duration: 0.15s;
        width: 100%;

        &.focused
        {
            max-height: 20em;
            overflow: auto;
        }

        .autocomplete-item
        {
            font-size: 1.25rem;
            padding: 0.75em;
            text-align: left;
            transition-duration: 0.15s;
            transition-property: background-color;

            &:hover
            {
                background-color: transparentize(white, 0.5);
            }
        }
    }
}