.icon
{
    height: 0.9em;
    display: inline-block;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    vertical-align: baseline !important;

    &:not(:last-child)
    {
        margin-right: 1em;
    }

    &.icon-book
    {
        background-image: url("../img/icon-book.png");
        width: 0.9 * 1.4em;
    }
}