@import "../../lib/lib.scss";

#root
{
    display: flex;
    height: 100%;
    width: 100%;

    .acrylic
    {
        height: 100%;
        width: 100%;
    }
}

#wrapper
{
    background: $bg-light;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

header
{
    background: $bg-light-textured;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-gap: 0 1em;
    padding: 2em 1em 1em;

    #logo
    {
        height: 4em;
    }

    #title-wrapper
    {
        padding-top: calc(0.5em - 4pt);
        grid-column: 2 / 2;
    }
}

#content-scroll-wrapper
{
    height: 100%;
}

#content-scroll-wrapper, #content-wrapper, #content
{
    flex-shrink: 1;
    flex-grow: 1;
}

#content
{
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;

    h2
    {
        margin: 1em 0 0;
    }

    

    table.info
    {
        border-spacing: 0 4pt;
        display: block;
        flex-basis: 100%;
        margin: 0;
        padding: 0;

        tr
        {
            margin: 4pt 0;

            td
            {
                padding-right: 1ex;
                vertical-align: top;

                &:first-child
                {
                    padding-right: 1em;
                }
            }
        }
    }
}

#actions
{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;

    button
    {
        font-size: 1.25em;
        padding: 1em;
    }
}

@media(orientation: landscape)
{
    #content
    {
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
}

@media (min-width: 480px)
{
    header
    {
        padding: 2em 2em 1em;
    }

    #content
    {
        padding: 0.5em 2em;
    }

    #actions
    {
        position: static;
    }
}

@media(min-width: 800px)
{
    #root
    {
        justify-content: center;
        align-items: center;

        .acrylic
        {
            width: auto;
            height: auto;
        }
    }

    header #title-wrapper
    {
        margin-top: -4pt;
    }

    #wrapper
    {
        width: auto;
        max-width: 80vw;
        height: 80vh;
    }

    #content
    {
        min-width: 24rem;

        ul.tile-list.tile-small
        {
            columns: 2;

            li
            {
                display: inline-block;
                width: 100%;
            }
        }
    }

    #actions
    {
        flex-direction: row;
    }
}
