@import "../../lib/lib.scss";

#root
{
    display: flex;
    height: 100%;
    width: 100%;

    .acrylic
    {
        height: 100%;
        width: 100%;
    }
}

#wrapper
{
    background: $bg-light;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

header
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 0.25em 1em;

    padding: 2em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    .logo
    {
        height: 4em;
        align-self: center;
    }

    .title
    {
        grid-column: 2 / 2;
        align-self: center;
        margin: 0;
    }

    .subtitle
    {
        grid-area: 2 / 2 / 2 / 2;
        top: 0;
    }
}

#content-scroll-wrapper
{
    height: 100%;
}

#content-scroll-wrapper, #content-wrapper, #content
{
    flex-shrink: 1;
    flex-grow: 1;
}

#content
{
    display: flex;
    flex-direction: column;
    padding: 0.5em 2em;    

    h2
    {
        margin: 1em 0 0;
    }

    ul.tile-list
    {
        list-style: none;
        margin: 1em 0;
        padding: 0;
        column-gap: 0.25em;
        width: 100%;

        li
        {
            @include elevation(1);
            padding: 0.75em;
            margin: 0.25em 0;
            background-color: $bg-light;

            &:first-child
            {
                margin-top: 0;
            }
        }
    }

    table.info
    {
        border-spacing: 0 4pt;
        display: block;
        flex-basis: 100%;
        margin: 0;
        padding: 0;

        tr
        {
            margin: 4pt 0;

            td
            {
                padding-right: 1ex;

                &:first-child
                {
                    padding-right: 1em;
                }
            }
        }
    }
}

#actions
{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;

    button
    {
        font-size: 1.25em;
        padding: 1em;
    }
}

@media(orientation: landscape)
{
    #content
    {
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
}

@media (min-width: 480px)
{
    #actions
    {
        position: static;
    }
}

@media(min-width: 800px)
{
    #root
    {
        justify-content: center;
        align-items: center;

        .acrylic
        {
            width: auto;
            height: auto;
        }
    }

    #wrapper
    {
        width: auto;
        height: 80vh;
    }

    #content
    {
        min-width: 24rem;

        ul.tile-list.tile-small
        {
            columns: 2;
        }
    }

    #actions
    {
        flex-direction: row;
    }
}
