@import "../../../res/base.scss";

#logo-container
{
    text-align: center;

    .acrylic-content
    {
        background-color: rgba(255, 255, 255, 0.2);
    }

    #logo-box
    {
        position: relative;

        display: inline-block;

        margin: 4em 0 4em 0;

        mix-blend-mode: normal;

        #logo-wrapper
        {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    #logo-border
    {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        width: 80vw;
        height: 80vw;

        border: 0.5em solid currentColor;

        @media (min-width: 32rem)
        {
            width: 24em;
            height: 24em;
        }
    }

    #title-container
    {
        padding: 1em;
    }

    #title
    {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 14vw;
        font-weight: bold;

        display: block;

        text-align: left;

        @media (min-width: 32rem)
        {
            font-size: 4rem;
        }
    }
}

#search-container
{
    text-align: center;

    .autocomplete
    {
        margin-bottom: 5em;
    }
}

#info-container
{
    display: flex;
    flex-wrap: wrap;

    margin-right: -1em;

    section
    {
        overflow: hidden;
        flex-basis: 100%;
        flex-grow: 1;

        margin-right: 1em;
        margin-bottom: 1em;

        border-radius: 4pt;
        background: transparent
        linear-gradient(
        to top,
        hsla(0, 0%, 93%, 0.8),
        hsla(0, 0%, 100%, 0.8)
        );

        & > h2
        {
            font-family: $font-header;
            font-size: 1em;

            display: block;

            margin: 0;
            padding: 1em;

            text-transform: uppercase;
        }

        & > ul
        {
            margin: 0;
            padding: 0;

            list-style: none;

            & > li
            {
                display: grid;

                cursor: pointer;

                grid-template-columns: auto 1fr;

                grid-template-columns: auto 6em;

                .book-name
                {
                    font-family: $font-decor;
                }

                .book-genre
                {
                    font-size: 0.8em;
                }

                .book-authors
                {
                    font-size: 0.8em;
                }

                .content
                {
                    display: grid;
                    align-items: center;

                    padding: 1em;
                }

                &:first-of-type .tag
                {
                    border-top-left-radius: 1em;
                }

                .tag
                {
                    font-family: $font-action;

                    display: grid;
                    align-content: center;

                    padding: 1em;

                    text-align: center;

                    color: white;
                    background-color: $accent-neutral;

                    grid-column: 2;
                }

                .tag-info
                {
                    background-color: $accent-auxilary;
                }

                .tag-danger
                {
                    background-color: $accent-danger;
                }

                .tag-primary
                {
                    background-color: $accent-primary;
                }

                .tag-secondary
                {
                    background-color: $accent-secondary;
                }
            }
        }

        .empty-message
        {
            display: block;

            margin: 1em auto;
            padding: 0 1em;

            text-align: center;
        }
    }
}

#info-checkout
{
    &.overdue
    {
        background: rgba(255, 10, 10, 0.2);

        .checkout-due
        {
            color: red;
        }
    }
}

.autocomplete .autocomplete-item-label
{
    font-family: $font-decor;
}

@media #{$screen-md}
{
    #info-container section
    {
        flex-basis: calc(50% - 1em);
        flex-grow: 1;
    }
}

@media #{$screen-lg}
{
    #content-container
    {
        width: 80%;
        max-width: 120em;
        margin: auto;
    }
}
