@import "../../../res/base.scss";

#logo-container {
    text-align: center;

    .acrylic-content {
        background-color: rgba(255, 255, 255, 0.2);
    }

    #logo-box {
        display: inline-block;
        margin: 4em 0 4em 0;
        position: relative;
        mix-blend-mode: normal;

        #logo-wrapper {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    #logo-border {
        border: 0.5em solid currentColor;
        box-sizing: border-box;
        align-items: center;
        display: flex;
        height: 80vw;
        justify-content: center;
        position: relative;
        width: 80vw;

        @media (min-width: 32rem) {
            width: 24em;
            height: 24em;
        }
    }

    #title-container {
        padding: 1em;
    }

    #title {
        display: block;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
        text-align: left;
        font-size: 14vw;

        @media (min-width: 32rem) {
            font-size: 4rem;
        }
    }
}

#search-container {
    text-align: center;

    .autocomplete {
        margin-bottom: 5em;
    }
}

#info-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1em;

    section {
        background: transparent
            linear-gradient(
                to top,
                hsla(0, 0%, 93%, 0.8),
                hsla(0, 0%, 100%, 0.8)
            );
        border-radius: 4pt;
        flex-basis: 100%;
        flex-grow: 1;
        overflow: hidden;
        margin-bottom: 1em;
        margin-right: 1em;

        & > h2 {
            display: block;
            font-family: $font-header;
            font-size: 1em;
            margin: 0;
            padding: 1em;
            text-transform: uppercase;
        }

        & > ul {
            list-style: none;
            margin: 0;
            padding: 0;

            & > li {
                cursor: pointer;
                display: grid;
                grid-template-columns: auto 1fr;

                .book-name {
                    font-family: $font-decor;
                }

                .book-genre {
                    font-size: 0.8em;
                }

                .book-authors {
                    font-size: 0.8em;
                }

                .content {
                    align-items: center;
                    display: grid;
                    padding: 1em;
                }

                &:first-of-type .tag {
                    border-top-left-radius: 1em;
                }

                .tag {
                    align-content: center;
                    display: grid;
                    background-color: $accent-neutral;
                    color: white;
                    font-family: $font-action;
                    text-align: center;
                    padding: 1em;
                    grid-column: 2;
                }

                .tag-info {
                    background-color: $accent-auxilary;
                }

                .tag-danger {
                    background-color: $accent-danger;
                }

                .tag-primary {
                    background-color: $accent-primary;
                }

                .tag-secondary {
                    background-color: $accent-secondary;
                }

                grid-template-columns: auto 6em;
            }
        }

        .empty-message {
            margin: 1em auto;
            text-align: center;
            display: block;
        }
    }
}

#info-checkout {
    &.overdue {
        background: rgba(255, 10, 10, 0.2);

        .checkout-due {
            color: red;
        }
    }
}

.autocomplete .autocomplete-item-label {
    font-family: $font-decor;
}

@media (min-width: 480px) {
    #info-container section {
        flex-basis: calc(50% - 1em);
        flex-grow: 1;
    }
}

@media (min-width: 800px) {
    #content-container {
        width: 80%;
        max-width: 120em;
        margin: auto;
    }
}
