@import "~scut";
@import "_content";
@import "../../../res/base.scss";

#root
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#menu-button
{
    font-weight: bold;

    width: 100%;
    height: 100%;

    background: transparent;
}

#menu-container
{
    width: auto;

    .acrylic
    {
        width: 3.2em;
        height: 3.2em;

        transition-duration: 0.15s;
        transition-property: width;
    }

    ul
    {
        width: 100%;
        margin: 0;
        margin-top: -100%;

        list-style: none;

        transition-duration: 0.15s;

        li, button
        {
            width: 100%;
        }

        button a
        {
            color: white;
        }
    }

    &.menu-open
    {
        width: 100%;

        .acrylic
        {
            width: 100%;
        }

        #menu-button
        {
            width: 100%;
        }

        ul
        {
            margin-top: 0;
        }
    }
}


footer
{
    margin: 2em auto 0;
    padding: 2em;

    text-align: center;

    background-color: $bg-light;
}

#content-container
{
    padding: 1em;
}

@media #{$screen-lg}
{
    #menu-container
    {
        position: absolute;
        top: 0;
        right: 0;

        display: box;

        width: auto;
        padding: 1em;

        .acrylic
        {
            display: none;
        }

        ul
        {
            position: relative;
            z-index: 199;

            margin-top: 0;
        }
    }

    #attribution-container
    {
        max-width: 32em;
    }
}
