@import "~scut";
@import "_content";

#root
{
    font-family: Roboto, sans-serif;
    height: 100vh;
    overflow: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#user-container
{
    padding: 0.5em;
    position: fixed;
    right: 1em;
    top: 1em;
    border-radius: 0.5em;
}

#attribution-container
{
    bottom: 1em;
    padding: 0.5em;
    position: fixed;
    right: 1em;
    border-radius: 0.5em;
}

.vb
{
    .vb-dragger
    {
        z-index: 5;
        width: 12px;
        right: 0;

        .vb-dragger-styler
        {
            transition-duration: 0.15s;
            transition-property: background-color;
            background-color: rgba(255, 255, 255, .1);
            mix-blend-mode: exclusion;
            margin: 5px 5px 5px 0;
            border-radius: 20px;
            height: calc(100% - 10px);
            display: block;
        }
    }

    &.vb-scrolling-phantom, &.vb-dragging
    {
        .vb-dragger-styler
        {
            background-color: rgba(255, 255, 255, .5);
        }
    }
}