@import "~scut";
@import "_content";
@import "../../../lib/lib.scss";

#root
{
    margin: 0;
    padding: 0;
}

#user-container
{
    padding: 1em;
    width: 100%;
    margin: 0;

    button a
    {
        color: white;
    }
}

footer
{
    text-align: center;
    margin: 2em auto 0;
    padding: 2em;
    background-color: $bg-light;
}

#content-container
{
    padding: 1em;
}

@media (min-width: 800px)
{
    #user-container
    {
        width: auto;
        right: 0;
        top: 0;
        position: absolute;
    }

    #attribution-container
    {
        max-width: 32em;
    }
}
