#root
{
    display: flex;
    height: 100%;

    .acrylic
    {
        height: 100%;
        width: 100%;
    }
}

#wrapper
{
    background: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
}

#content
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em;

    h1, h2
    {
        margin: 0;
    }

    #genres
    {
        opacity: 0.6;
    }

    #info
    {
        border-spacing: 0;
        display: block;
        flex-basis: 100%;
        margin: 0;
        padding: 0;

        tr
        {
            td:not(:first-child)
            {
                opacity: 0.6;
                padding-left: 1ex;
            }
        }
    }
}

#actions
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    #btn-hold
    {
        bottom: 0;
        font-size: 1.25em;
        left: 0;
        padding: 1em;
        position: fixed;
        right: 0;
        width: 100%;
    }
}

@media(orientation: landscape)
{
    #content
    {
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
}

@media(min-width: 800px)
{
    #root
    {
        justify-content: center;
        align-items: center;

        .acrylic
        {
            width: auto;
            height: auto;
        }
    }

    #wrapper
    {
        height: auto;
        width: auto;
    }

    #content
    {
        min-width: 24rem;
    }

    #actions
    {
        display: flex;
        align-items: flex-end;
        flex-direction: row;

        #btn-hold
        {
            position: static;
            margin-top: 1em;
            width: auto;
            align-self: flex-end;
        }
    }
}