@import "~@res/base.scss";

#content
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

@media #{$screen-lg}
{
    input
    {
        width: 24rem;
    }
}
