input
{
    padding: 6pt;

    transition-duration: 0.15s;
    transition-property: background-color;

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    outline: none;
    background: transparent;

    &:focus
    {
        border: none;
        background-color: white;

@include elevation(1);

        &::placeholder
        {
            opacity: 0;
        }
    }

    &::placeholder
    {
        transition-duration: 0.15s;
    }
}

label
{
    font-family: $font-header;
}

button
{
    font-family: $font-action;
    font-weight: bold;

    padding: 1em;

    cursor: pointer;
    transition-duration: 0.15s;
    transition-property: background-color;
    text-transform: uppercase;

    color: white;
    border: none;
    outline: none;
    background-color: $bg-dark;

    &.btn-disabled
    {
        cursor: default;

        opacity: 0.8; // this is a hack, but will stop the button from reacting to changes
    }

    &.btn-fake
    {
        cursor: default;

        color: black;
        background-color: white;
    }
}

@include btn(primary, $accent-primary);
@include btn(secondary, $accent-secondary);
@include btn(auxilary, $accent-auxilary);
@include btn(danger, $accent-danger);
@include btn(neutral, $accent-neutral);

@for $i from 1 through 6
{
    .elevation-#{$i}
    {
        @include elevation($i);
    }
}

ul.flat-list
{
    display: inline-flex;
    flex-wrap: wrap;

    &.no-wrap
    {
        overflow: hidden;

        max-height: 1.2em;

        text-overflow: ellipsis;
    }

    li
    {
        display: inline;

        white-space: nowrap;

        &:not(:last-child)::after
        {
            margin: 0 4pt;

            content: "•";

            opacity: 0.7;
        }
    }
}

ul.tile-list
{
    width: 100%;
    margin: 1em 0;
    padding: 0;

    list-style: none;

    column-gap: 0.25em;

    li
    {
        margin-bottom: 0.25em;
        padding: 0.75em;

        transition-duration: 0.15s;
        transition-property: transform;
        transform: perspective(400px);

        background-color: $bg-light;

@include elevation(1);

        &:first-child
        {
            margin-top: 0;
        }

        &.tile-link
        {
            cursor: pointer;

            &:hover
            {
                transform: perspective(400px) translateZ(4px);
            }

            &:active
            {
                transform: perspective(400px) translateZ(-4px);
            }
        }
    }
}
