input[type="text"], input[type="search"], input[type="password"], input[type="number"]
{
    display: block;

    padding: 0.5em;

    transition-duration: 0.15s;
    transition-property: background-color;

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    outline: none;
    background: transparent;

    &:focus
    {
        border: none;
        background-color: white;

@include elevation(1);

        &::placeholder
        {
            opacity: 0;
        }
    }

    &::placeholder
    {
        transition-duration: 0.15s;

        opacity: 0.7;
        color: currentColor;
    }

    &.inline
    {
        display: inline-block;

        margin-top: 3pt;
        margin-bottom: 3pt;
        padding-top: 3pt;
        padding-bottom: 3pt;
    }
}

input[type="search"]
{
    border-radius: 4pt;
    font-size: 1.25em;
}

input[type="checkbox"]
{
    position: absolute;

    opacity: 0;

    & + label::before
    {
        display: inline-block;

        width: 1em;
        height: 1em;
        margin: 0 1ex 0 0;

        content: " ";
        cursor: pointer;
        transition-duration: 0.075s;
        transition-property: background-color transform;
        transform: rotate(0deg);
        vertical-align: middle;

        border: 1pt solid $text-dark;
    }

    &:hover + label::before, &:focus + label::before
    {
        background-color: transparentize($text-dark, 0.5);
    }

    &:checked + label::before
    {
        transform: rotate(90deg);

        background-color: $text-dark;
    }

    &:active + label::before
    {
        transform: perspective(40px) translateZ(-4px) rotate(45deg);
    }
}

%btn-state
{
    left: 0;

    display: inline-block;

    width: 1.2em;
    height: 1.2em;
    margin-left: 0.4em;

    content: " ";
    transition-duration: 0.15s;
    transition-property: opacity, left;
    vertical-align: bottom;

    opacity: 1;
    background-size: contain;
}

button
{
    font-family: $font-action;
    font-weight: bold;

    padding: 1em;

    cursor: pointer;
    transition-duration: 0.15s;
    transition-property: background-color;
    text-transform: uppercase;

    color: white;
    border: none;
    outline: none;
    background-color: $bg-dark;

    &.btn-disabled
    {
        cursor: default;

        opacity: 0.8; // this is a hack, but will stop the button from reacting to changes
    }

    &.btn-fake
    {
        cursor: default;

        color: black;
        background-color: white;
    }

    &.btn-success
    {
        background-color: #28a428;
    }

    &.btn-error
    {
        background-color: #a42828;
    }

    &::after
    {
        position: relative;
        left: -1.2em;

        display: inline-block;

        opacity: 0;
    }


    &.btn-working::after
    {
        background-image: url("~@res/img/indeterminate-white.svg");

@extend %btn-state;
    }
}

@include btn(primary, $accent-primary);
@include btn(secondary, $accent-secondary);
@include btn(auxilary, $accent-auxilary);
@include btn(danger, $accent-danger);
@include btn(neutral, $accent-neutral);

@for $i from 1 through 6
{
    .elevation-#{$i}
    {
        @include elevation($i);
    }
}

ul ul
{
    margin-left: 1em;
}

ul.flat-list
{
    display: inline-flex;
    flex-wrap: wrap;

    &.no-wrap
    {
        overflow: hidden;

        max-height: 1.2em;

        text-overflow: ellipsis;
    }

    li
    {
        display: inline;

        white-space: nowrap;

        &:not(:last-child)::after
        {
            margin: 0 4pt;

            content: "•";

            opacity: 0.7;
        }
    }
}

ul.tile-list
{
    width: 100%;
    margin: 1em 0;
    padding: 0;

    list-style: none;

    column-gap: 0.25em;

    li
    {
        margin-bottom: 0.25em;
        padding: 0.75em;

        transition-duration: 0.15s;
        transition-property: transform;
        transform: perspective(400px);

        background-color: $bg-light;

@include elevation(1);

        &:first-child
        {
            margin-top: 0;
        }

        &.tile-link
        {
            cursor: pointer;

            &:hover
            {
                transform: perspective(400px) translateZ(4px);
            }

            &:active
            {
                transform: perspective(400px) translateZ(-4px);
            }
        }
    }
}

ul.checkbox-list
{
    li
    {
        position: relative;

        & > label
        {
            display: inline-block;

            margin: 0 !important;
            padding: 1ex 0;
        }
    }
}

ul.link-list
{
    li
    {
        margin-bottom: 1ex;
        padding: 1ex 0;

        border-bottom: 1px solid rgba(0, 0, 0, 0.25);

        h1, h2
        {
            margin-top: 0;
        }

        a
        {
            color: $text-dark;

            &:hover
            {
                color: darken($accent-primary, 25%);
            }
        }
    }
}
