@mixin outset($dist)
{
    top: $dist;
    left: $dist;
    right: $dist;
    bottom: $dist;
}

@mixin elevation($level)
{
    box-shadow: 0 0 #{$level * 2}pt 0 rgba(0, 0, 0, 0.25);
}

@mixin btn($class, $color)
{
    .btn-#{$class}
    {
        background-color: $color;

        &:not(.btn-disabled)
        {
            &:hover, &:focus
            {
                background-color: darken($color, 5);
            }

            &:active
            {
                background-color: darken($color, 15);
            }
        }
    }
}
