@import "theme";
@import "responsive";

a
{
    font-weight: bold;

    text-decoration: none;
    word-break: keep-all;

    color: darken($accent-primary, 20%);
}

.subtitle
{
    font: $font-header;
    font-size: 0.8em;
    font-weight: bold;

    text-transform: uppercase;

    opacity: 0.8;
}

.text-secondary
{
    text-overflow: ellipsis;

    color: opacify($color: $text-dark, $amount: 0.4);
}

.text-accent
{
    color: $accent-primary;
}

.text-danger
{
    color: $accent-danger;
}

.no-wrap
{
    overflow: hidden;
    flex-wrap: nowrap;

    white-space: nowrap;
    text-overflow: ellipsis;
}

label
{
    font: $font-header;
    font-weight: 700;

    text-transform: uppercase;
}

h1, h2, h3, h4
{
    font: $font-header;
    font-weight: 700;

    display: block;

    margin: 0;
    margin-bottom: 4pt;

    text-align: left;
    text-transform: uppercase;

    & + .subtitle
    {
        font-size: 1em;

        position: relative;
        top: -0.25em;
    }
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.65em;
}

h3
{
    font-size: 1.35em;
}

h4
{
    font-size: 1.15em;
}

ul
{
    margin: 0 1ex 0 0;
    padding: 0;

    list-style: none;
}

@media #{$screen-lg}
{
    h1
    {
        font-size: 3em;
    }
}
