$bg-light: rgba(255, 255, 255, 0.5);
$bg-light-textured: transparent linear-gradient(to top, hsla(0, 0%, 93%, 0.8), hsla(0, 0%, 100%, 0.8));
$bg-dark: rgba(0, 0, 0, 0.5);
$text-light: #e6e6e6;
$text-dark: #1a1a1a;
$text-colorful: dodgerblue;
$accent-primary: #1e90ff;
$accent-secondary: #29a544;
$accent-danger: #fb3640;
$accent-neutral: #605f5e;
$accent-auxilary: #1c3144;
$line: 1px solid rgba(0, 0, 0, 0.7);
$line-secondary: 1px solid rgba(0, 0, 0, 0.3);
$font-header: bold 1em "Roboto Condensed", "Haettenschweiler", "Impact", sans-serif;
$font-action: bold 1em "Roboto Condensed", "Haettenschweiler", "Impact", sans-serif;
$font-body: 1em "PT Sans", "Roboto", "Helvetica", serif;
$font-decor: 1em "Noto Serif", "PT Serif", "Cambria", serif;
$transition-normal: 0.15s;
$round-small: 4pt;
