.acrylic
{
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}

@mixin outset($dist)
{
    top: $dist;
    left: $dist;
    right: $dist;
    bottom: $dist;
}