.acrylic
{
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}

.acrylic-content
{
    height: 100%;
    width: 100%;
}

@mixin outset($dist)
{
    top: $dist;
    left: $dist;
    right: $dist;
    bottom: $dist;
}