@import "../../lib/lib.scss";

.text-dark
{
    color: $text-dark;
    mix-blend-mode: color;
}

.text-light
{
    color: $text-light;
    mix-blend-mode: color;
}

.text-colorful
{
    color: $text-colorful;
    mix-blend-mode: exclusion;
}

.text-secondary
{
    opacity: 0.6;
}

.block-dark
{
    background-color: hsla(0, 0, 10, 0.5);
    a
    {
        color: dodgerblue;
    }
}

.block-colorful
{
    color: $text-colorful;

    a
    {
        color: blue;
    }
}

.block-light
{
    background-color: hsla(0, 0, 90, 0.5);
    color: black;
    a
    {
        color: blue;
    }
}

.vb
{
    .vb-dragger
    {
        right: 0;
        width: 12px;
        z-index: 5;

        .vb-dragger-styler
        {
            background-color: rgba(255, 255, 255, .1);
            border-radius: 20px;
            display: block;
            height: calc(100% - 10px);
            margin: 5px 5px 5px 0;
            transition-duration: 0.15s;
            transition-property: background-color;
            mix-blend-mode: exclusion;
        }
    }

    &.vb-scrolling-phantom, &.vb-dragging
    {
        .vb-dragger-styler
        {
            background-color: rgba(255, 255, 255, .5);
        }
    }
}