@import url("https://fonts.googleapis.com/css?family=Noto+Serif|PT+Sans|Roboto+Condensed:700");
@import "theme";
@import "background";
@import "../../lib/lib.scss";

#scroll-root
{
    height: 100vh;
    width: 100vw;
}

.v-enter-active, .v-leave-active
{
    height: 100%;
    position: absolute;
    transition-duration: 0.15s;
    transition-property: left;
    width: 100%;
}

.v-enter
{
    left: 100%;
}

.v-leave-to
{
    left: -100%;
}

.v-enter-to, .v-leave
{
    left: 0;
}

*
{
    box-sizing: border-box;
}

a
{
    color: darken($accent-primary, 20%);
    font-weight: bold;
    text-decoration: none;
    word-break: keep-all;
}

html
{
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

body
{
    @extend html;
    perspective: 4000px;
}

body, input
{
    font-family: $font-body;
}

@media (min-width: 800px)
{
    .v-enter-active, .v-leave-active
    {
        height: 100%;
        position: static;
        transition-duration: 0.15s;
        transition-property: opacity;
        width: 100%;
    }

    .v-enter, .v-leave-to
    {
        opacity: 0;
    }

    .v-enter-to, .v-leave
    {
        opacity: 1;
    }
}
