@import url("https://fonts.googleapis.com/css?family=Noto+Serif|PT+Sans|Roboto+Condensed:700");
@import "theme";
@import "background";
@import "../../lib/lib.scss";

#scroll-root
{
    height: 100vh;
    width: 100vw;
}

.v-enter-active, .v-leave-active
{
    height: 100%;
    position: absolute;
    transition-duration: 0.15s;
    transition-property: opacity;
    width: 100%;
}

.v-enter, .v-leave-to
{
    opacity: 0;
}

.v-enter-to, .v-leave
{
    opacity: 1;
}

*
{
    box-sizing: border-box;
}

a
{
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

html
{
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

body
{
    @extend html;
    perspective: 4000px;
}

body, input
{
    font-family: $font-body;
}

h1
{
    display: block;
    font-family: $font-header;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
}

input
{
    background: transparent linear-gradient(to top, hsla(0, 0%, 93%, 0.8), hsla(0, 0%, 100%, 0.8));
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 4pt;
    outline: none;
    padding: 6pt;
    transition-duration: 0.15s;
    transition-property: background-color;

    &:focus
    {
        background-color: white;
        @include elevation(1);

        &::placeholder
        {
            opacity: 0;
        }
    }

    &::placeholder
    {
        transition-duration: 0.15s;
    }
}

label
{
    font-family: $font-header;
}

button
{
    background-color: $bg-dark;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    font-family: $font-action;
    transition-duration: 0.15s;
    transition-property: background-color;
    text-transform: uppercase;
    padding: 1em;

    &:hover
    {
        background-color: lighten($bg-dark, 0.2);
    }
}

@mixin btn($class, $color)
{
    .btn-#{$class}
    {
        background-color: transparentize($color, 0.3);

        &:hover, &:focus
        {
            background-color: transparentize($color, 0.15);
        }

        &:active
        {
            background-color: $color;
        }
    }
}

@include btn(primary, $accent-primary);
@include btn(secondary, $accent-secondary);
@include btn(auxilary, $accent-auxilary);
@include btn(danger, $accent-danger);
@include btn(neutral, $accent-neutral);

.flat-list
{
    list-style: none;
    margin: 0 1ex 0 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;

    li
    {
        display: inline;
        white-space: nowrap;

        &:not(:last-child)::after
        {
            content: "•";
            margin: 0 4pt;
            opacity: 0.7;
        }
    }
}

@for $i from 1 through 6
{
    .elevation-#{$i}
    {
        @include elevation($i);
    }
}

@media(min-width: 800px)
{
    h1
    { font-size: 4em; }
}