@import url("https://fonts.googleapis.com/css?family=Noto+Serif|Roboto|Roboto+Condensed:700");
@import "theme";
@import "background";

#scroll-root
{
    height: 100vh;
    width: 100vw;
}

*
{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

a
{
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

html
{
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

body
{
    @extend html;
    font-family: "Roboto", sans-serif;
    perspective: 4000px;
}

h1
{
    display: block;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
}

input
{
    background: transparent linear-gradient(to top, hsla(0, 0%, 93%, 0.8), hsla(0, 0%, 100%, 0.8));
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 4pt;
    outline: none;
    padding: 6pt;
    transition-duration: 0.15s;
    transition-property: background-color;

    &:focus
    {
        background-color: white;

        &::placeholder
        {
            opacity: 0;
        }
    }

    &::placeholder
    {
        transition-duration: 0.15s;
    }
}

label
{
    font-family: "Roboto Condensed";
}

button
{
    background-color: $bg-dark;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 0.5em;
    transition-duration: 0.15s;
    transition-property: background-color;
    text-transform: uppercase;

    &:hover
    {
        background-color: lighten($bg-dark, 0.2);
    }

    // mix-blend-mode: multiply;

    @mixin btn($class, $color)
    {
        &.btn-#{$class}
        {
            background-color: transparentize($color, 0.2);

            &:hover, &:focus
            {
                background-color: $color;
            }

            &:active
            {
                background-color: darken($color, 0.2);
            }
        }
    }

    @include btn(primary, $accent-primary);
    @include btn(secondary, $accent-secondary);
}

.flat-list
{
    list-style: none;
    margin: 0 1ex 0 0;
    padding: 0;

    li
    {
        display: inline;

        &:not(:last-child)::after
        {
            content: "•";
            margin: 0 4pt;
            opacity: 0.7;
        }
    }
}

@mixin elevation($level)
{
    .elevation-#{$level}
    {
        box-shadow: 0 0 #{$level * 2}pt 0 rgba(0, 0, 0, 0.25);
    }
}

@for $i from 1 through 6
{
    @include elevation($i);
}

@media(min-width: 800px)
{
    h1
    { font-size: 4em; }
}